@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Source Code Pro";
}

html,
body {
  height: 100%;

  /* backdrop-filter: blur(10px); */
  overflow: hidden;
}

.lightTheme {
  background: rgb(2, 0, 36);
  background-image: linear-gradient(
    111.9deg,
    rgba(221, 49, 49, 1) 0.3%,
    rgba(0, 8, 119, 1) 100.7%
  );
}

.darkTheme {
  background: #000000; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
}

h1 {
  cursor: pointer;
}

h2 {
  color: white;
  text-shadow: black 1px 0 10px;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  /* Mobile Ansicht */
  h2 {
    font-size: x-large;
  }
  #answerContainer {
    margin: 10px 25px;
  }
  .answerButton,
  .answerButton[disabled] {
    font-size: medium;
  }
}

@media only screen and (min-width: 600px) {
  h2 {
    font-size: xx-large;
  }
  #answerContainer {
    margin: 30px 75px;
  }
  .answerButton,
  .answerButton[disabled] {
    font-size: large;
  }
}

#navbar {
  background-color: black;
  height: 70px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-bottom: 3px solid white;
}

.answerButton,
.answerButton[disabled] {
  color: black;
  margin: 5px;
  padding: 15px 10px;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 4px;
}

.answerButton:hover {
  border-width: 1.25px;
  transform: scale(1.02);
}

.answerButtonNormal {
  background-color: white;
}

.answerButtonClicked {
  background-color: rgb(171, 171, 171);
  transform: scale(1.02);
}

.answerButtonCorrect {
  background-color: lightgreen;
}

.answerButtonWrong {
  background-color: rgb(254, 76, 76);
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#submitButton {
  height: 50px;
  width: 150px;
  font-size: large;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 4px;
}

#submitButton:hover {
  background-color: rgb(237, 237, 237);
  transform: scale(1.02);
  border-width: 1.25px;
}

#nextButton {
  display: none;
  height: 50px;
  width: 150px;
  font-size: large;
  font-weight: bold;
  border: solid black 1px;
  border-radius: 4px;
}

#nextButton:hover {
  background-color: rgb(237, 237, 237);
  transform: scale(1.02);
  border-width: 1.25px;
}

#questionContainer {
  display: flex;
  justify-content: center;
  margin: 30px 30px;
  /* width: fit-content; */
  min-height: 80px;
  padding: 10px;
  align-items: center;
  border: none black 1px;
  border-radius: 4px;
  text-align: center;
}

#answerContainer {
  min-height: 175px;
  border: none black 1px;
  border-radius: 4px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#submitContainer {
  margin: 40px;
  display: flex;
  justify-content: center;
}

#timer {
  position: fixed;
  bottom: 2%;
  left: 2%;
}

#score {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.endScoreContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  /* border: solid black 1px; */
}

.containerDisabled {
  display: none;
  width: 0px;
  height: 0px;
}
